<section class="bar background-white">
  <div class="container text-center">
    <div class="col-md-offset-2 col-md-8">
      <div class="heading ">
        <h2>¿Quienes somos?</h2>
      </div>
      <p class="lead no-margin">{{ i18n "whoDescription" }}</p>
      <p class="lead">
        <a target="_blank" href="https://twitter.com/bcnTechACM">
          <div class="box-simple float twitter">
              <div class="icon">
                  <i class="fa fa-twitter"></i>
              </div>
          </div>
        </a>
        <a target="_blank" href="https://www.instagram.com/upcacm/">
          <div class="box-simple float instagram">
              <div class="icon">
                  <i class="fa fa-instagram"></i>
              </div>
          </div>
        </a>
      </p>
    </div>
  </div>
</section>
