<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header class="inverted">

          {{ partial "top.html" . }}

          {{ partial "nav.html" . }}

        </header>
        <div id="heading-breadcrumbs" class="papers-we-love no-margin">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1><img class="img-responsive" src="/img/dbconfig.svg" alt="Papers We Love"></h1>
                    </div>
                </div>
            </div>
        </div>


        <section class="mini bar background-white">
          <div class="container text-center">
            <div class="col-md-offset-2 col-md-8">
              <div class="heading ">
                <h2>{{ i18n "papersTitle" }}</h2>
              </div>
              <p class="lead no-margin">{{ i18n "papersDescription" }}</p>
              <br/>
              <p class="lead no-margin">
                <b>{{ i18n "papersDescription2" }}</b>
              </p>
              <p class="lead">
                <a target="_blank" href="https://github.com/papers-we-love/papers-we-love">
                  <div class="box-simple float">
                      <div class="icon">
                          <i class="fa fa-file-text-o"></i>
                      </div>
                  </div>
                </a>
                <a target="_blank" href="https://github.com/papers-we-love/papers-we-love/wiki/Creating-a-PWL-chapter">
                  <div class="box-simple float">
                      <div class="icon">
                          <i class="fa fa-users"></i>
                      </div>
                  </div>
                </a>
              </p>
            </div>
          </div>
        </section>
        <section class="mini bar background-gray">
          <br/>
          <div class="container text-center">
            <div class="col-xs-12 col-md-8">
              <div class="heading">
                <h2>{{ i18n "papersTitle2" }}</h2>
              </div>
              <p class="lead text-left-i">
                {{ i18n "papersDetail1" }}
              </p>
              <p class="lead text-left-i">
                {{ i18n "papersDetail2" }}
              </p>
              <p class="lead text-left-i">
                {{ i18n "papersDetail3" }}
              </p>
            </div>
            <div class="col-xs-12 col-md-4">
              <br/><br/>
              <iframe class="meetup-widget" src="http://meetu.ps/3fx8DM" frameborder="0"></iframe>
            </div>
          </div>
        </section>
        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
